body{
    background-color:#71926c;
    position: relative;

}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-content: center;
  border-radius: 25px;
}


.header h2{
  color: #71926C;
}
 
.header a {
  text-decoration: none;
}
.header a:hover {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.header nav {
  font-family: serif;
  font-weight: bold;
}

.header ul {
 list-style: none;
  margin: 0;
  padding-left: 0;
}

.header li {
  color: #71926C;
 display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  
}
  
.header li a {
  color: #71926C;
}

.header li:hover {
   cursor: pointer;
   color: rgb(39, 39, 39);
}

.header ul li ul {
   visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
   margin-top: 1rem;
  left: 0;
  display: none;
}

.header ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  color: rgb(39, 39, 39);
  background-color: white;
  border-bottom: 1px solid #71926C;
}

.header ul li ul li {
  clear: both;
  width: 100%;
}

.new_password {
position:absolute;
border-radius: 25px;
  top: 600%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  border: 3px solid#71926C;
  background-color: white;
}
.new_password img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.new_password h2{
    display: flex;
 justify-content: center;
    color: #71926C;
    font-size: 1.5rem;
}
.new_password input{
  font-size: larger;
  border: none;
  border-bottom: 1px solid #71926C;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.password_new ::placeholder {
  color: gray;
  font-size: 1rem;
}
.password_new input:focus {
  border: none;
}
.password_new button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #71926C;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
  font-weight: bold;
}


nav>a {
  display: none;
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  clear: both;
  overflow: hidden;
}

.navLinks{
  display: flex;
  flex-direction: row;
}

@media (max-width: 777px) {
  .nav-minimized{
    display: flex;
    flex-direction: column;
  }
  .nav ul {
    display: none;
  }
  
  .navLinks>li{
    display: flex;
    justify-content: center;
  }

  nav {
  position: relative;
  display: inline-block;
}

.nav-minimized>ul {
  display: flex;
  flex-direction: column;
}
  
  nav>a {
    display: block;
  }

}