body{
    position: relative;

}



.header a:hover {
  color: rgb(39, 39, 39);
}


.header li {
  color: #71926C;
  
}
  
.header li a {
  color: #71926C;
}

.header li:hover {
   color: rgb(39, 39, 39);
}


.header ul li:hover > ul,
ul li ul:hover {
  color: rgb(39, 39, 39);
}

.new_password {
position:absolute;
border-radius: 25px;
  top: 600%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  border: 3px solid#71926C;
  background-color: white;
}
.new_password img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.new_password h2{
    display: flex;
 justify-content: center;
    color: #71926C;
    font-size: 1.5rem;
}
.new_password input{
  font-size: larger;
  border: none;
  border-bottom: 1px solid #71926C;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.password_new ::placeholder {
  color: gray;
  font-size: 1rem;
}
.password_new input:focus {
  border: none;
}
.password_new button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #71926C;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
  font-weight: bold;
}

#differentPasswords{
  text-align: center;
  color: red;
}

