body{
    background-color:#71926c;
    position: relative;

}
.header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-radius: 25px;
    
}

.header h2{
  color: #71926C;
}
.main{
    width: 300px;
    display: flex;
    justify-content: space-around; */
}
 
.main a {
  text-decoration: none;
}
.main a:hover {
  text-decoration: none;
  color: #71926C;
}

.main nav {
  font-family: serif;
  font-weight: bold;
}

.main ul {
 list-style: none;
  margin: 0;
  padding-left: 0;
}

.main li {
  color: rgb(39, 39, 39);
 display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  
}
  
.main li a {
  color: rgb(55, 55, 55);
}

.main li:hover {
   cursor: pointer;
   color: #71926C;
}

.main ul li ul {
   visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
   margin-top: 1rem;
  left: 0;
  display: none;
}

.main ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #71926C;
  background-color: white;
  border-bottom: 1px solid #71926C;
}

.main ul li ul li {
  clear: both;
  width: 100%;
}

.login {
position:absolute;
border-radius: 25px;
  top: 600%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  border: 3px solid#71926C;
  background-color: white;
}
.login img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.log_in input{
  border: none;
  border-bottom: 1px solid #71926C;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.log_in ::placeholder {
  color: gray;
  font-size: 1rem;
}
.log_in input:focus {
  border: none;
}
.log_in button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color: #71926C;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
  font-weight: bold;
}
.forgot {
 display: flex;
 justify-content: center;
  text-decoration: none;
  color: #71926C;
}