body {
  background-color: #71926c;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-content: center;
  border-radius: 25px;
}

.header h2 {
  color: #71926c;
}

.header a {
  text-decoration: none;
}
.header a:hover {
  text-decoration: none;
  color: #71926c;
}

.header nav {
  font-family: serif;
  font-weight: bold;
  padding-top: 10px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header li {
  color: rgb(39, 39, 39);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}

.header li a {
  color: rgb(55, 55, 55);
}

.header li:hover {
  cursor: pointer;
  color: #71926c;
}

.header ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.header ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #71926c;
  background-color: white;
  border-bottom: 1px solid #71926c;
}

.header ul li ul li {
  clear: both;
  width: 100%;
}

.activate_account {
  margin: 50px;
  display: flex;
  flex-direction: row;
  background-color: white;
  text-align: center;
}
.activate_account img {
  max-width: 50%;
  height: auto;
}

.activate_account > .second_part {
  
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cal {
  margin-bottom: 20px;
}

.act {
  color: #71926c;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.account_activate{
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 30px;
}

.account_activate input {
  font-size:18px;
  border: none;
  border-bottom: 1px solid #71926c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.account_activate ::placeholder {
  color: gray;
  font-size: 1rem;
}
.account_activate input:focus {
  border: none;
}

.account_activate button {
  padding: 16px 32px;
  border-radius: 25px;
  background-color: #71926c;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
  font-weight: bold;
  margin-top: 40px;
}

.footter {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-left: 1%;
  text-decoration: none;
  color: #71926c;
}

/* .footer a {
        text-decoration: none;
        color: #71926C;
      } */

nav > a {
  display: none;
}

.navbar-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  clear: both;
  overflow: hidden;
}

.navLinks {
  display: flex;
  flex-direction: row;
}

@media (max-width: 777px) {
  .act {
    color: #71926c;
    font-size: 1.5rem;
  }
  .activate_account > img {
    display: none;
  }
  .activate_account {
    display: flex;
    justify-content: center;
  }

  .nav-minimized {
    display: flex;
    flex-direction: column;
  }
  .nav ul {
    display: none;
  }

  .navLinks > li {
    display: flex;
    justify-content: center;
  }

  nav {
    position: relative;
    display: inline-block;
  }

  .nav-minimized > ul {
    display: flex;
    flex-direction: column;
  }

  nav > a {
    display: block;
  }
}
