html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    margin: 0;
  
}
.header a:hover {
    color: #71926C;
  }
  
  
  .header li {
    color: rgb(39, 39, 39) ;
    
  }
    
  .header li a {
    color: rgb(55, 55, 55);
  }
  
  .header li:hover {
     color: #71926C;
  }
  
  .header ul li:hover > ul,ul li ul:hover {
    color: #71926C;
  }
 

.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

/*
 #select_color
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}*/

 #select-button
{
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

 #options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

 #selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
    color: #71926C;
}

 .option i
{
    width: 16px;
    height: 16px;
}

 .option, .label
{
    color: #2d3667;
    font-size: 16px;
}

 #chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

 #chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

 #options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

 .options
{
    position: absolute;
    left: 0;
    width: 250px;
}

 #options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

 #options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

 .option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

 .option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

 #options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

 .label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

 #options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

 .s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

 .s-c.top
{
    top: 0;
}

 .s-c.bottom
{
    bottom: 0;
}

 input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

 .s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

 .s-c:hover
{
    height: 100%;
    z-index: 1;
}

 .s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

 .s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

 @keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

 @keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

 .label
{
    transition: 0.3s ease all;
}

 .opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}
 .opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}


 .option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

 .option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

 .option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

 .option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

 #options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

 #select_color .option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

 #select_color .option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

 #select_color .option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #ea4c89;
}

 #select_color .option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

 #select_color .option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

 #select_color .option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}

 #select_color .option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

 #select_color .option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

 #select_color .option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
}

 #select_color .option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}



 #select_color .option #c1
{
    color: #000;
}
 #select_color .option:hover #c1
{
    color: #FFFFFF;
}

 #select_color .option #c2
{
    color: #ea4c89;
}
 #select_color .option:hover #c2
{
    color: #FFFFFF;
}

 #select_color .option #c3
{
    color: #0057ff;
}
 #select_color .option:hover #c3
{
    color: #FFFFFF;
}
 #select_color .option #c4
{
    color: #32c766;
}
 #select_color .option:hover #c4
{
    color: #FFFFFF;
}

 #select_color .option #c5
{
    color: #f48024;
}
 #select_color .option:hover #c5
{
    color: #FFFFFF;
}


 #option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

 #options-view-button:checked ~ #options #option-bg
{
    display: block;
}

 .option:hover .label
{
    color: #fff;
}

 #select_color .option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
}

 #select_color .option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #ea4c89;
}

 #select_color .option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

 #select_color .option:nth-child(4):hover ~ #option-bg
{
    top: 120px;
    background-color: #32c766;
}

 #select_color .option:nth-child(5):hover ~ #option-bg
{
    top: 160px;
    background-color: #f48024;
}


.space{
    position:absolute;
    border-radius: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 750px;
      height: 700px;
      border: 3px solid#71926C;
      background-color: white;
    }
    .space img{
      display: block;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }
    
    .space h2{
        display: flex;
     justify-content: center;
        color: #71926C;
        font-size: 1.5rem;
    }
 #select_color{
    position: fixed;
    left: 30px;
    top: 45%;
}
.general button {
    position:fixed;
    bottom: 10px;
    left: 300px;
    border-radius: 25px;
    background-color: #71926C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: serif;
    font-weight: bold;
  }

   .brd
  {
      border: 1px solid #e2eded;
      border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  }
  
  
   #select_position
  {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 300px;
      height: 42px;
      margin: 100px auto 0 auto;
  }
  
   #select-button
  {
      position: relative;
      height: 16px;
      padding: 12px 14px;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
  }
  
   #options-view-button
  {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
  }
  
   #selected-value
  {
      font-size: 16px;
      line-height: 1;
      margin-right: 26px;
      color: #71926C;
  }
  
   .option i
  {
      width: 16px;
      height: 16px;
  }
  
   .option, .label
  {
      color: #2d3667;
      font-size: 16px;
  }
  
   #chevrons
  {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 12px;
      padding: 9px 14px;
  }
  
   #chevrons i
  {
      display: block;
      height: 50%;
      color: #d1dede;
      font-size: 12px;
      text-align: right;
  }
  
    #options-view-button:checked + #select-button #chevrons i
  {
      color: #2d3667;
  }
  
    .options
  {
      position: absolute;
      left: 0;
      width: 250px;
  }
  
   #options
  {
      position: absolute;
      top: 42px;
      right: 0;
      left: 0;
      width: 298px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 4px;
  }
  
   #options-view-button:checked ~ #options
  {
      border: 1px solid #e2eded;
      border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  }
  
   .option
  {
      position: relative;
      line-height: 1;
      transition: 0.3s ease all;
      z-index: 2;
  }
  
   .option i
  {
      position: absolute;
      left: 14px;
      padding: 0;
      display: none;
  }
  
   #options-view-button:checked ~ #options .option i
  {
      display: block;
      padding: 12px 0;
  }
  
   .label
  {
      display: none;
      padding: 0;
      margin-left: 27px;
  }
  
   #options-view-button:checked ~ #options .label
  {
      display: block;
      padding: 12px 14px;    
  }
  
   .s-c
  {
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
  }
  
   .s-c.top
  {
      top: 0;
  }
  
   .s-c.bottom
  {
      bottom: 0;
  }
  
   input[type="radio"]
  {
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 50%;
      margin: 0;
      opacity: 0;
      cursor: pointer;
  }
  
   .s-c:hover ~ i
  {
      color: #fff;
      opacity: 0;
  }
  
   .s-c:hover
  {
      height: 100%;
      z-index: 1;
  }
  
   .s-c.bottom:hover + i
  {
      bottom: -25px;
      animation: moveup 0.3s ease 0.1s forwards;
  }
  
   .s-c.top:hover ~ i
  {
      top: -25px;
      animation: movedown 0.3s ease 0.1s forwards;
  }
   
   .label
  {
      transition: 0.3s ease all;
  }
  
   .opt-val
  {
      position: absolute;
      left: 14px;
      width: 217px;
      height: 21px;
      opacity: 0;
      background-color: #fff;
      transform: scale(0);
  }
   .opt-val
  {
      position: absolute;
      left: 14px;
      width: 217px;
      height: 21px;
      opacity: 0;
      background-color: #fff;
      transform: scale(0);
  }
  
  
   .option input[type="radio"]:checked ~ .opt-val
  {
      opacity: 1;
      transform: scale(1);
  }
  
   .option input[type="radio"]:checked ~ i
  {
      top: 0;
      bottom: auto;
      opacity: 1;
      animation: unset;
  }
  
    .option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
  {
      color:#fff;
  }
  
   .option input[type="radio"]:checked ~ .label:before
  {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
  }
  
   #options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
  {
      top: -30px;
  }
  
   #select_position .option:nth-child(1) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
      border-radius: 4px 4px 0 0;
  }
  
    #select_position .option:nth-child(1) input[type="radio"]:checked ~ .opt-val
  {
      top: -31px;
  }
  
    #select_position .option:nth-child(2) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
  }
  
   #select_position .option:nth-child(2) input[type="radio"]:checked ~ .opt-val
  {
      top: -71px;
  }
  
   #select_position .option:nth-child(3) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
  }
  
   #select_position .option:nth-child(3) input[type="radio"]:checked ~ .opt-val
  {
      top: -111px;
  }
  
 #select_position .option:nth-child(4) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
  }
  
 #select_position .option:nth-child(4) input[type="radio"]:checked ~ .opt-val
  {
      top: -151px;
  }
  
#select_position .option:nth-child(5) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
  }
  
 #select_position .option:nth-child(5) input[type="radio"]:checked ~ .opt-val
  {
      top: -191px;
  }
  #select_position .option:nth-child(6) input[type="radio"]:checked ~ .label:before
  {
      background-color: #71926C;
  }
  
  #select_position .option:nth-child(6) input[type="radio"]:checked ~ .opt-val
  {
      top: -231px;
  }
  
   #option-bg
  {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 40px;
      transition: 0.3s ease all;
      z-index: 1;
      display: none;
  }
  
   #options-view-button:checked ~ #options #option-bg
  {
      display: block;
  }
  
  .option:hover .label
  {
      color: #fff;
  }
  
 #select_position .option:nth-child(1):hover ~ #option-bg
  {
      top: 0;
      background-color: #71926C;
      border-radius: 4px 4px 0 0;
  }
  
    #select_position .option:nth-child(2):hover ~ #option-bg
  {
      top: 40px;
      background-color: #71926C;
  }
  
   #select_position .option:nth-child(3):hover ~ #option-bg
  {
      top: 80px;
      background-color: #71926C;
  }
  
  #select_position .option:nth-child(4):hover ~ #option-bg
  {
      top: 120px;
      background-color: #71926C;
  }
  
   #select_position .option:nth-child(5):hover ~ #option-bg
  {
      top: 160px;
      background-color: #71926C;
  }
   #select_position .option:nth-child(6):hover ~ #option-bg
  {
      top: 200px;
      background-color: #71926C;
  }
  
#select_position{
        position: fixed;
        left: 400px;
        top: 30%;
    }
    .space button {
        position:fixed;
        bottom: 50px;
        left: 300px;
        border-radius: 25px;
        background-color: #71926C;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        font-family: serif;
        font-weight: bold;
      }
    